body{
  line-height: 1.6;
  color: #3a3a3a;

}
*{
  box-sizing: border-box;
}
.container{
   padding-left: 1em;
   padding-right: 1em;
 }
a{

  text-decoration: none;
}
h1{
  margin-top: 0;
  text-align: center;
  background: white;
}
.main-header{
  background-color: #3ecec2;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 30px;
  color: white;

}
.main-footer{
  text-align: center;
  padding: 2em 0;
  background: #d9e4ea;
}
.name,ul li{
  text-align: center;
  background-color: #fff;
  margin-top: 6px;
  margin-bottom: 6px;

}
.name{
  font-size: 1.25em;
}
.main-nav a{
  font-size: .95em;
  color: #3acec2;
  text-transform: uppercase;
}
.main-nav a:hover{
  color: #093a58;
}
.name a{

  color: #093a58;
}
.name a,.main-nav a{
  padding: 10px 15px;
  display: block;
}
/* ===================================
    Media Queries
======================================*/
@media (min-width: 769px) {
  .wrapp{
    min-height: calc(90vh);
  }
  .container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .name{
    float: left;
  }
  .main-nav{
    float: right;
  }
  .main-nav li{
    float: left;
    margin-left: 12px;
  }
  .col{
    float: right;
    padding: 1em;
    padding-right: em;
  }
  .primary{
    width: 60%;
  }
  .secondary{
    width: 40%;
  }
  /*
  .name,.main-nav,.main-nav li{
    display: inline-block;
  }
  .name{
    width: 240px;
    margin-right:220px;

  }
  .main-nav li{
    margin-right: 12px;
  }
  */
/*  .col{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 10px;
    }*/
    .feat-img{
      width: 280px;
      float:left;
      margin-right: 25px;
      margin-bottom: 25px;
      margin-top: 5px;
      padding: 10px;
      border: solid 1px;
    }
    .clearfix::after{
      content: "";
      display: table;
      clear: both;

    }

}
